* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #1F2937;
    color: white;
}

.top {
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.right {
    display: flex;
    gap: 10px;
}

.left {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 70px 70px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-button {
    background-color: blue;
    color: white;
    padding: 6px 17px;
    border-radius: 9px;
}

.hero-img {
    width: 300px;
    height: 150px;
}

.title {
    text-align: center;
    padding: 25px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-bottom: 25px;
}

.container {
    width: 125px;
    height: 200px;
}

.card {
    width: 125px;
    height: 125px;
    background-color: aqua;
    border: 2px solid blue;
    border-radius: 10px;
}

.card-text {
    text-align: center;
    padding: 8px;
    font-size: 14px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.main-quote {
    font-size: 24px;
    text-align: center;
}

.quote-name {
    text-align: end;
    font-weight: 700;
}

.banner-container {
    display: flex;
    justify-content: center;
}

.banner {
    height: 100px;
    width: 650px;
    margin: 100px 0;
    background-color: blue;
    border-radius: 6px;
}

.banner-content {
    padding: 30px 0 30px 70px;
    color: white;
}

.banner-text {
    display: flex;
    gap: 50px;
}

.banner-button {
    
}