* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #1F2937;
    color: white;
}

.top {
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.right {
    display: flex;
    gap: 10px;
}

.left {
    font-size: 20px;
    font-weight: 900;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 70px 70px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-button {
    background-color: blue;
    color: white;
    padding: 6px 17px;
    border-radius: 9px;
}

.hero-img {
    width: 300px;
    height: 150px;
}


.container {
    width: 125px;
    height: 200px;
    background-color:blue;
}

.card {
    width: 125px;
    height: 125px;
    background-color: aqua;
}